<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}NoodleNest{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-orange-50 text-gray-800">
    <p class="text-center text-xs text-red-700 bg-orange-100 py-1 tracking-wide">This is our Navbar</p>
    <nav class="flex justify-between items-center px-8 py-4 bg-red-700 text-white shadow-md sticky top-0 z-50">
        <h1 class="text-2xl font-bold tracking-wide flex items-center gap-2">
             NoodleNest
        </h1>
        <div class="space-x-8 text-sm font-medium">
            <a href="{% url 'home' %}" class="hover:text-orange-200 transition duration-200">Home</a>
            <a href="{% url 'menu' %}" class="hover:text-orange-200 transition duration-200">Menu</a>
            <a href="{% url 'about' %}" class="hover:text-orange-200 transition duration-200">About</a>
            <a href="{% url 'order' %}" class="hover:text-orange-200 transition duration-200">Order</a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>

